.thank {
  text-align: center;
  /* background-color: #e6fff2; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 200px;
  font-weight: bold;
  font-size: 50px;
  color:white;
  /* border-top: 2px solid #32390c;
  border-bottom: 2px solid #32390c; */
}

.signo {
  margin-left: 45%;
}
button {
  margin: 3px;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff6600;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #ff751a;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

body {
  background-image: url("../../Images/Thankyou.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
